<!-- nav.ejs -->
<nav class="nav">
    <div>
        <img src="" alt="">
        <a href="">HOME</a>
    </div>
    <div>
        <img src="" alt="">
        <a href="">BUDGET</a>
    </div>
    <div>
        <img src="" alt="">
        <a href="">TRANSACTIOS</a>
    </div>
    <div>
        <img src="" alt="">
        <a href="">PROFILE</a>
    </div>
    <div>   
        <p>FIN-AI</p>
    </div>
</nav>